<a href="https://colab.research.google.com/github/nueveonce/Etapa3DS/blob/main/Etapa3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto

# Introduccion

## Item

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('clean_jobs.csv')

In [4]:
df

,id,title,company,location,link,source,date_posted,work_type,employment_type,description
0,1,Data Analyst,Meta,"New York, NY",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
1,2,Data Analyst,Meta,"San Francisco, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
2,3,Data Analyst,Meta,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
3,4,Data Analyst,Meta,"Washington, DC",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
4,5,Data Analyst II,Pinterest,"Chicago, IL",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-16,NaN,NaN,About Pinterest\n\nMillions of people around t...
...,...,...,...,...,...,...,...,...,...,...
322,691,Data Engineer- Python Pyspark,Virtusa,"Chennai, Tamil Nadu, India",https://in.linkedin.com/jobs/view/data-enginee...,LinkedIn,2025-04-10,NaN,NaN,Senior Data Engineer\n\nPosition Summary\n\nTh...
323,692,Data Engineer with Pyspark,Cognizant,"Bangalore Urban, Karnataka, India",https://in.linkedin.com/jobs/view/data-enginee...,LinkedIn,2025-04-13,NaN,NaN,Job Title:- Data Engineer with Pyspark\n\nLoca...
324,693,Data Engineer,Mercedes-Benz Malaysia,"Puchong, Selangor, Malaysia",https://my.linkedin.com/jobs/view/data-enginee...,LinkedIn,2025-04-16,NaN,NaN,"About Us\n\n\n\n\nAt Mercedes-Benz, we don’t j..."
325,740,Data Engineer I,IntePros,"Seattle, WA",https://www.linkedin.com/jobs/view/data-engine...,LinkedIn,2025-04-15,NaN,NaN,Data Engineer I – Infrastructure & Automation ...
326,741,Data Engineer,Snap Inc.,"Bellevue, WA",https://www.linkedin.com/jobs/view/data-engine...,LinkedIn,2025-04-16,NaN,NaN,Snap Inc is a technology company. We believe t...

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,327.0,382.605505,224.546087,1.0,132.5,425.0,599.5,741.0
work_type,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
employment_type,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327 entries, 0 to 326
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               327 non-null    int64
 1   title            327 non-null    object
 2   company          327 non-null    object
 3   location         327 non-null    object
 4   link             327 non-null    object
 5   source           327 non-null    object
 6   date_posted      327 non-null    object
 7   work_type        0 non-null      float64
 8   employment_type  0 non-null      float64
 9   description      327 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 25.7+ KB